<%= form_with(model: card, local: true, class: 'ui form') do |form| %>
  <% if card.errors.any? %>
    <div class="ui negative message">
      <div class="header"><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</div>
      <ul class="list">
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :card_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :card_description %>
  </div>

  <%= form.submit class: 'ui button' %>
<% end %>
