<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table class="ui table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Closed?</th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= link_to card, card %></td>
        <td><%= card.description %></td>
        <td><%= card.closed? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_organisation_card_path %>
