<% page_title 'Cards', head_only: true %>

<div class="ui seven column grid" id="card_board">
  <div class="row">
    <% @grouped_cards.each do |state| %>
      <div class="column">
        <div class="ui label">
          <%= state[:name] %> <div class="detail"><%= state[:card_count] %></div>
        </div>
      </div>
    <% end -%>
  </div>

  <div class="row">
    <% @grouped_cards.each do |state| %>
      <div class="column">
        <% state[:cards].each do |card| %>
          <%- card = Card.new(card) -%>

          <%= link_to card_path(card), class: 'ui card' do %>
            <div class="content">
              <div><%= card %></div>
              <div class="meta">#<%= card.number %></div>
            </div>
          <% end -%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Card', new_organisation_card_path %>
