<% page_title @card %>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @card.closed? %>
</p>

<p>
  <strong>State:</strong>
  <%= @card.state %>
</p>



<%= link_to 'Back', cards_path %>
