<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Codaset</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name=viewport />
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <header>
      <div></div>
      <div id="logo"><%= image_tag 'logo.svg', width: 80 %></div>
      <div></div>
    </header>

    <main>
      <%= yield %>
    </main>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
