<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Codaset</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div>
        <nav>
          <% if signed_in? %>
            <%= link_to 'Create Card', new_card_path(card_context) %>
          <% end -%>
        </nav>
        <div id="logo">
          <%= link_to image_tag('logo.svg', width: 80), root_path %>
        </div>
        <nav>
          <% if signed_in? %>
            <%= current_user %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { confirm: t('.confirm_sign_out') } %>
          <% else %>
            <%= link_to 'Sign In', user_github_omniauth_authorize_path %>
          <% end -%>
        </nav>
      </div>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
